.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid $quaternary_color;
	border-radius: 5px;
	height: 30vh;
	width: 18vw;
	min-height: 300px;
	min-width: 320px;
	margin: auto;
	margin-top: 1%;

	form {
		margin-bottom: 6%;
	}

	.form-group {
		margin-top: 4%;
	}

	.form-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

.flexform {
	font-family: Arial;
	font-size: 1.5rem;
}

.shopping-form {
	.shopping-box {
		height: 20vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		label {
			padding: 0 5vw;
		}
	}

	input[type='submit'] {
		margin-left: 45vw;
	}
}

.listing-form {
	textarea {
		display: block;
		resize: none;
		height: 8vh;
		width: 100%;
	}
	h4 {
		padding-top: 10px;
	}

	.listing-box {
		margin-top: 4.5vh;
		height: 40vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.flexform {
		font-size: 1rem;
		margin: 2vh 3vw;
		border: 2px solid black;
		border-radius: 5px;
		display: flex;
		flex-direction: column;

		label {
			text-align: left;
			padding: 10px;
		}
	}

	input[type='submit'] {
		margin-top: 6vh;
		margin-left: 52vw;
	}
}

.gateway-form {
	.gateway-box {
		height: 40vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.flexform {
		margin: 2vh 3vw;
		display: flex;
		flex-direction: column;
		font-size: 1.25rem;
	}

	.flexform:first-child {
		margin-top: -15vh;
	}

	input[type='submit'] {
		margin-top: 6vh;
		margin-left: 45vw;
	}
}

.notification-form {
	.notification-box {
		font-size: 1.5rem;
		height: 30vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	input[type='checkbox'] {
		margin: 0 1vw;
	}

	input[type='submit'] {
		margin-top: 5vh;
		margin-left: 45vw;
	}
}

.sync-form {
	.sync-box {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		align-content: center;
	}

	.flexform {
		margin: 2vh 3vw;
		display: flex;
		flex-direction: column;
	}

	.labels {
		margin: 15px;
	}

	textarea {
		height: 20vh;
		width: 20vw;
	}

	input[type='submit'] {
		margin-top: 5vh;
	}
}

.profile-form {
	.profile-box {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.flexform {
		margin: 2vh 3vw;
		display: flex;
		flex-direction: column;
	}

	.react-calendar {
		width: 20vw;
	}

	input[type='submit'] {
		margin-top: 10vh;
	}

	input[type='file'] {
		opacity: 0;
		visibility: hidden;
		display: none;
		color: transparent;
	}
}
