@mixin gray-stripe {
	background-size: 35px 35px;
	background-color: #ececec;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.4) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.4) 50%,
		rgba(255, 255, 255, 0.4) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.4) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.4) 50%,
		rgba(255, 255, 255, 0.4) 75%,
		transparent 75%,
		transparent
	);
}

@mixin before-stripe {
	background-size: 35px 35px;
	background-color: #d0cdd7;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
}

@mixin after-stripe {
	background-size: 35px 35px;
	background-color: #acb0db;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
}

@mixin prior-stripe {
	background-size: 35px 35px;
	background-color: #0a4d66;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
}

@mixin post-stripe {
	background-size: 35px 35px;
	background-color: #d0cdd7;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
}

@mixin blue-stripe {
	background-size: 35px 35px;
	background-color: #57aed1;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
}

@mixin green-stripe {
	background-size: 35px 35px;
	background-color: #8bc53f;
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
}

@mixin inner-shadow {
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes myanimation {
	from {
		left: 0%;
	}
	to {
		left: 50%;
	}
}

h1 {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	font-size: 30px;
	padding: 20px 0;

	color: #777;
}

.checkout-wrap {
	color: #444;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 40px auto;
	max-width: 1200px;
	position: relative;
}
ul.checkout-bar {
	margin: 0 20px;
	li {
		color: #ccc;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 14px 20px 14px 80px;
		position: relative;
		&:before {
			@include inner-shadow;
			background: #ddd;
			border: 2px solid #fff;
			border-radius: 50%;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			left: 20px;
			line-height: 37px;
			height: 35px;
			position: absolute;
			text-align: center;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
			top: 4px;
			width: 35px;
			z-index: 999;
		}
		&.active {
			color: #0a4d66;
			// font-weight: bold;
			&:before {
				background: #0a4d66;
				z-index: 99999;
			}
		}
		&.active2 {
			color: #0a4d66;
			// font-weight: bold;
			&:before {
				background: #0a4d66;
				z-index: 99999;
			}
		}
		&.active3 {
			color: #0a4d66;
			// font-weight: bold;
			&:before {
				background: #0a4d66;
				z-index: 99999;
			}
		}
		&.visited {
			background: #ececec;
			color: #57aed1;
			z-index: 99999;
			&:before {
				background: #57aed1;
				z-index: 99999;
			}
		}
		&:nth-child(1) {
			&:before {
				content: '1';
			}
		}
		&:nth-child(2) {
			&:before {
				content: '2';
			}
		}
		&:nth-child(3) {
			&:before {
				content: '3';
			}
		}
		&:nth-child(4) {
			&:before {
				content: '4';
			}
		}
		&:nth-child(5) {
			&:before {
				content: '5';
			}
		}
		&:nth-child(6) {
			&:before {
				content: '6';
			}
		}
	}
	a {
		color: #57aed1;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
	}
}

@media all and (min-width: 800px) {
	.checkout-bar li.active:after {
		-webkit-animation: myanimation 3s 0;
		@include after-stripe;
		@include inner-shadow;
		content: '';
		height: 15px;
		width: 100%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
		border-radius: 15px;
	}
	.checkout-bar li.active2:after {
		-webkit-animation: myanimation 3s 0;
		@include after-stripe;
		@include inner-shadow;
		content: '';
		height: 15px;
		width: 113%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
		border-radius: 15px;
	}
	.checkout-bar li.active3:after {
		-webkit-animation: myanimation 3s 0;
		@include after-stripe;
		@include inner-shadow;
		content: '';
		height: 15px;
		width: 163%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
		border-radius: 15px;
	}
	.checkout-wrap {
		margin: 80px auto;
	}
	ul.checkout-bar {
		@include inner-shadow;
		@include gray-stripe;
		border-radius: 15px;
		height: 15px;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 100%;
		&:before {
			@include before-stripe;
			@include inner-shadow;
			border-radius: 15px;
			content: ' ';
			height: 15px;
			left: 0;
			position: absolute;
			width: 20%;
		}
		li {
			display: inline-block;
			margin: 50px 0 0;
			padding: 0;
			text-align: center;
			width: 19%;
			&:before {
				height: 45px;
				left: 40%;
				line-height: 45px;
				position: absolute;
				top: -65px;
				width: 45px;
				z-index: 99;
			}
			&.visited {
				background: none;
				&:after {
					@include before-stripe;
					@include inner-shadow;
					content: '';
					height: 15px;
					left: 50%;
					position: absolute;
					top: -50px;
					width: 100%;
					z-index: 99;
				}
			}
		}
	}
	#customer {
		&:before {
			width: 30%;
			@include prior-stripe;
		}
		li.active:after {
			@include post-stripe;
		}
		li.active2:after {
			@include post-stripe;
		}
		li.active3:after {
			@include post-stripe;
		}
		li {
			&:before {
			}
			&.active {
				color: #8bc53f;
				&:before {
					background: #8bc53f;
				}
			}
			&.active2 {
				color: #8bc53f;
				&:before {
					background: #8bc53f;
				}
			}
			&.active3 {
				color: #8bc53f;
				&:before {
					background: #8bc53f;
				}
			}
			&.visited {
				&:after {
					@include prior-stripe;
				}
			}
		}
	}
}
